::-webkit-scrollbar{
    width: 12px;   
}
::-webkit-scrollbar-thumb{
    background-color: rgba(49, 47, 47, 0.422);
    border-radius: 100px;
}
::-webkit-scrollbar-track{
    background-color: gray;
}
body{
    background-color:rgb(39, 39, 49);
}

#form{
    display: flex;
    gap: 0.5rem;
}

#header{
    display: flex;
    /* border: 2px solid red; */
    height: 100px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 80px 20px 20px 40px;
    justify-content: space-between;
    align-items: center;
}
#search{
    display: flex;
    align-items: center;
    margin: 22px;
    /* border: 2px solid red; */
    gap: 2rem;
    height: 60px;
    width: 450px;
}
input{
    outline: none;
    padding-left: 15px;
    border-radius: 20px;
    width: 400px;
    height: 35px;
}

#heading{
    /* border: 2px solid red; */
    height: 50px;
    margin-left: 40px;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
#main{
    margin: 25px;
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.movie{
    border: 2px solid red;
}
.card{
    width: 250px;
    height: 330px;
    /* border: 2px solid red; */
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.card:hover .content{
    top: 0;
}
.card:hover{
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}
.content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 245px;
    right: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.282);
    backdrop-filter: blur(5px);
    overflow: auto;
    transition: 1s ;
    color: white;
    border-radius: 12px;
}
#title{
    margin: 28px 15px 15px 15px;
    font-size: 20px;
    word-wrap: break-word;
   
}

#overview{
    margin: 32px 15px 15px 15px;
    font-size: 15px;
    word-wrap: break-word;
   
}

#rating{
    margin: 15px;
    font-size: 15px;
}

img{
    width: 260px;
    height: 370px;
    object-fit: cover;
}
#il ul{
    display: flex;
    outline: none;
    text-decoration: none;
}
ul li a{
    text-decoration: none;
}

#il ul li{
    padding: 15px;
    list-style-type: none ;
    font-size: 30px;
    color:darkblue;
    outline: none;
    text-decoration: none;
}
#il ul li a:hover{
    color: white;

}

button {
    animation: wiggle 2s linear infinite;
  }
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  .container {
    display: grid;
    place-items: center;  
    text-align: center;
    height: 200px;
    margin:auto;
    align-items: center;
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
  }